COINMARKETCAP_API_KEY=3481b81757dc4494bd56b1092bd4ab59
MORALIS_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjE1M2NkNDE1LWZlMmYtNDdhYi1iZjI4LTcwYzJlNzI1NGQzZCIsIm9yZ0lkIjoiNDgxNjY0IiwidXNlcklkIjoiNDk1NTMzIiwidHlwZUlkIjoiNmY3OWY0NzgtMjhmYS00MTU2LTk2MTUtNGY1YTRhMTk5ZDU3IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NjMzMDE5NTgsImV4cCI6NDkxOTA2MTk1OH0.49I5SpRixesa5Ml6uyvKpxPVu43ac0025mRoQqct5Zo
SOSOVALUE_API_KEY=SOSO-cfb88ef04169431e839385b2fcec1606